.thumbnailImage {
  border-width: 4px;
  border-style: solid;
  border-color: #2e2b41;
  width: 90%;
  height: auto;
  margin: 8px;
  background-image: repeating-linear-gradient(-45deg, #94939411, #94939411 3%, #2a1938 4%);
}