.thumbnails-region {
  height: 100%;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.thumbnail-wrapper {
  position: relative;
  background: #2e2b41;
  color: white;
  box-shadow: 6px 6px 6px #555;
  width: 300px;
  height: 225px;
  margin: 5px;
  font-size: 0.9em;
}