.text-thumbnail {
  height: 130px;
  border-width: 2px;
  border-style: solid;
  border-color: #2e2b41;
  width: 95%;
  margin: 8px;
}

.text-thumbnail__button {
  position: relative;
  display: flex;
  justify-content: center;
  top: 15%;
  height: 100%;
}

.text-text-view {
  word-wrap: break-word;
  margin: 0;
  font-size: 1.4em;
  color: white;
}