.tab {
  flex: 1 0 auto;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 4px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.active {
    background-color: #4175e6;
  }
}