.operation-mode-edit-visibility-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: #4175e6;
    font-size: 35px;
    text-align: center;
  }

  &__button {
    margin-left: 10px;
    background-color: #808080;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border-width: 0;
  }
}