
.App-mini-header {
    position: sticky;
    z-index: 10;
    top: 0px;
    width: 100%;
    background-color: rgb(53, 53, 53);
    height: 580px;
    color: rgb(28, 115, 165);
    box-shadow: 2px 2px 2px #555;
}

/* Thumbviews and counter: */
.App-mini-title-background {
    position: relative;
    top: 250px;
    left: 5px;
    width: 645px;
    height: 315px;
    background-color: rgb(22, 22, 22);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    box-shadow: 6px 6px 6px rgb(34, 34, 34);
}
.App-mini-header-title {
    margin-top: 5px;
    color: white;
    font-size: 1.4em;
}

.App-mini-header-pgm-counter {
    position: absolute;
    top: 240px;
    left: 5px;
    text-align: left;
    background-color:  #aa0101;
    width: 175px;
    height: 40px;
    border-width: 0px;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    margin-left: 5px;
    margin-right: 5px;
}

.App-mini-header-pvw-thumbnail-image {
    position: absolute;
    top: 50px;
    left: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #0a7500;
    width: 170px;
    height: 96px;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-right: 8px;
    background-image: repeating-linear-gradient(-45deg, #2f2c43, #2e2b41 3%, #2a1938 4%);
}

.App-mini-header-pgm-thumbnail-image {
    position: absolute;
    top: 50px;
    left: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: #aa0101;
    width: 420px;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 8px;
    background-image: repeating-linear-gradient(-45deg, #2f2c43, #2e2b41 3%, #2a1938 4%);
}


/* Reload, setup connetionstatus: */
.App-mini-reload-setup-background {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 220px;
    height: 215px;
    background-color: rgb(22, 22, 22);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.App-mini-connection-status {
    font-size: 0.9em;
    width: 158px;
    line-height: 55px;
    margin-top: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 0;
    outline: 0;
}


.App-mini-settings-button {
    font-size: 0.9em;
    width: 158px;
    line-height: 55px;
    margin-top: 5px;
    background: rgb(11, 12, 11);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(170, 170, 170, 0.315);
    outline: 0;
}

.App-mini-reload-button {
    font-size: 0.9em;
    width: 158px;
    line-height: 55px;
    margin-top: 5px;
    background: rgb(46, 19, 19);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(170, 170, 170, 0.315);
    outline: 0;
}

/* Mix, start prev next  */
.App-mini-mix-button-background {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 584px;
    height: 545px;
    background-color: rgb(22, 22, 22);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.App-mini-mix-button {
    margin-left: 6px;
    margin-right: 12px;
    margin-top: 15px;
    font-size: 1.2em;
    width: 260px;
    line-height: 245px;
    background: rgb(0, 73, 4);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 16px;
    border-width: 1px;
    border-color: rgba(85, 85, 85, 0.507);
    outline: 1px;
}

.App-mini-start-button {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 1.2em;
    width: 260px;
    line-height: 245px;
    background: rgb(122, 0, 0);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 16px;
    border-width: 1px;
    border-color: rgba(85, 85, 85, 0.507);
    outline: 1px;
}


.App-mini-prev-cue-button {
    margin-left: 6px;
    margin-right: 12px;
    margin-top: 15px;
    font-size: 1.2em;
    width: 260px;
    line-height: 245px;
    background: rgb(83, 125, 150);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 16px;
    border-width: 1px;
    border-color: rgba(59, 53, 53, 0.808);
    outline: 1px;
}


.App-mini-next-cue-button {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 1.2em;
    width: 260px;
    line-height: 245px;
    background: rgb(83, 125, 150);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 16px;
    border-width: 1px;
    border-color: rgba(59, 53, 53, 0.808);
    outline: 1px;
}


/* LOOP and AUTO START buttons: */
.App-mini-loop-autoPlay-background {
    position: absolute;
    top: 20px;
    left: 300px;
    width: 220px;
    height: 215px;
    background-color: rgb(22, 22, 22);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.App-mini-loop-button {
    font-size: 0.9em;
    width: 158px;
    line-height: 80px;
    margin-top: 15px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 0;
    outline: 0;
}

.App-mini-autoPlay-button {
    font-size: 0.9em;
    width: 158px;
    line-height: 80px;
    margin-top: 15px;
    margin-top: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 0;
    outline: 0;
}
