/* Main CSS file */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.App {
    position: relative;
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 10s linear alternate;
    height: 70px;
  }
  
  .App-header {
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100vw;
    background-color: #222;
    height: 130px;
    color: rgb(28, 115, 165);
    box-shadow: 2px 2px 2px #555;
  }

  .App-connection-status {
    position: fixed;
    top: 20px;
    right: 10px;
    font-size: 15px;
    width: 160px;
    line-height: 40px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 0;
    outline: 0;
  }
  

  .App-settings {
    position: fixed;
    top: 65px;
    right: 10px;
    font-size: 15px;
    width: 160px;
    line-height: 35px;
    background: rgb(24, 58, 20);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 0;
    outline: 0;
  }
  
  .App-body {
    position: relative;
    z-index: 1;
    top: 130px;
    left: 0px;
    Right: 0px;
    bottom: 0px;
    background-color: #aaa;
  
  }
  .App-title {
    font-size: 2em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(-15deg); }
    to { transform: rotate(15deg); }
    from { transform: rotate(15deg); }
    to { transform: rotate(-15deg); }
  }