/* Main CSS file */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.App {
    position: relative;
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 10s linear alternate;
    height: 70px;
  }
  
  .App-header {
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100vw;
    background-color: #222;
    height: 130px;
    color: rgb(28, 115, 165);
    box-shadow: 2px 2px 2px #555;
  }

  .App-connection-status {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 0.8em;
    width: 90px;
    line-height: 30px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 0;
    outline: 0;
  }
  

  .App-settings-button {
    position: fixed;
    top: 47px;
    right: 5px;
    font-size: 0.8em;
    width: 90px;
    line-height: 25px;
    background: rgb(11, 12, 11);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 1px;
    border-color: #aaa;
    outline: 0;
  }
  
  .Reload-button {
    position: fixed;
    top: 90px;
    right: 5px;
    font-size: 0.8em;
    width: 90px;
    line-height: 25px;
    background: rgb(19, 46, 19);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 1px;
    border-color: #aaa;
    outline: 0;
  }

  .App-body {
    position: relative;
    top: 130px;
    left: 0px;
    Right: 0px;
    bottom: 40px;
    background-color: #aaa;
  
  }
  .App-title {
    font-size: 2em;
  }
  
  .App-intro {
    position:relative;
    font-size: large;
  }
