/* Main CSS file */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.App {
    position: relative;
    text-align: center;
}

.App-body {
  position: relative;
  top: 0px;
  left: 0px;
  Right: 0px;
  bottom: 40px;
  background-color: #aaa;
}

.App-intro {
  position:relative;
  font-size: large;
}

.App-header {
  position: sticky;
  z-index: 10;
  top: 0px;
  width: 100vw;
  background-color: rgb(53, 53, 53);
  height: 130px;
  color: rgb(28, 115, 165);
  box-shadow: 2px 2px 2px #555;
}


.App-title-background {
  position: relative;
  top: 5px;
  left: 25%;
  width: 520px;
  height: 115px;
  background-color: rgb(22, 22, 22);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(63, 63, 63);
  box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.headerPgmCounter {
  position: absolute;
  top: 40px;
  left: 200px;
  background-color: #aa0101;
  width: 115px;
  border-width: 0px;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  margin-left: 5px;
  margin-right: 5px;
}

.headerPvwThumbnailImage {
  position: absolute;
  top: 2px;
  left: 5px;
  border-width: 2px;
  border-style:  solid;
  border-color:  #0a7500;
  width: 170px;
  height: auto;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-right: 8px;  
}

.headerPgmThumbnailImage {
  position: absolute;
  top: 2px;
  right: 5px;
  border-width: 2px;
  border-style:  solid;
  border-color:  #aa0101;
  width: 170px;
  height: auto;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-left: 8px;  
}

.Reload-setup-background {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 170px;
  height: 115px;
  background-color: rgb(22, 22, 22);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(63, 63, 63);
  box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.App-connection-status {
  font-size: 0.9em;
  width: 108px;
  line-height: 25px;
  margin-top: 5px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 5px;
  border-width: 0;
  outline: 0;
}


.App-settings-button {
  font-size: 0.9em;
  width: 110px;
  line-height: 25px;
  margin-top: 5px;
  background: rgb(11, 12, 11);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(170, 170, 170, 0.315);
  outline: 0;
}

.Reload-button {
  font-size: 0.9em;
  width: 110px;
  line-height: 25px;
  margin-top: 5px;
  background: rgb(46, 19, 19);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(170, 170, 170, 0.315);
  outline: 0;
}

/* Buttons for all thumbs, places at the bottom of the page */
.mixButtonBackground {
  position: absolute;
  top: 5px;
  right: 25px;
  width: 300px;
  height: 115px;
  background-color: rgb(22, 22, 22);
  border-width: 0px;
  border-style: solid;
  border-color: rgb(63, 63, 63);
  box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.mixButtonText {
  position: relative;
  top: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  margin: 10px;
}

.mixButton {
  margin: 12px;
  font-size: 1.2em;
  width: 40%;
  line-height: 55px;
  background: rgb(0, 73, 4);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 16px;
  border-width: 1px;
  border-color: rgba(85, 85, 85, 0.507);
  outline: 1px;
}

.startButton {
  margin: 12px;
  font-size: 1.2em;
  width: 40%;
  line-height: 55px;
  background: rgb(68, 0, 0);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 16px;
  border-width: 1px;
  border-color: rgba(85, 85, 85, 0.507);
  outline: 1px;
}


