.Settings-body {
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 600px;
    background-color: rgb(44, 44, 44);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(156, 156, 156, 0.63);
    box-shadow: 8px 8px 8px rgba(66, 66, 66, 0.37);
}

.Settings-header {
    position: relative;
    height: 40px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 1.8em;
    line-height: 40px;
}

.Settings-form {
    position: relative;
    margin-top: 10px;
    left: 25%;
    width: 400px;
    text-align: right;
}

.Settings-channel-form {
    position: absolute;
    top: 200px;
    margin-top: 20px;
    left: 5%;
    width: 400px;
    text-align: right;
}

.Settings-folder-form {
    position: absolute;
    top: 200px;
    margin-top: 20px;
    left: 50%;
    width: 400px;
    text-align: right;
}

.Settings-input-field {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    font-size: 1.2em;
}
.Settings-subfolder-field {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    font-size: 1.2em;
}

input[type=text] {
    text-align: right;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.2em;
    border: 1px solid rgb(104, 104, 104);
    background-color: rgb(87, 86, 86);
    color: white;
    border-radius: 0;
    -webkit-appearance: none;
}


.Save-button {
    position: fixed;
    top: 640px;
    left: calc(50% - 90px);
    font-size: 1.1em;
    width: 180px;
    line-height: 300%;
    background: rgb(43, 4, 4);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 16px;
    border-width: 0;
    outline: 0;
}