.Thumb-body {
  position: relative;
  margin-top: 5px;
}

.flexBoxes {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.boxComponent {
  position: relative;
  background: #2e2b41;
  color: white;
  box-shadow: 6px 6px 6px #555;
  width: 300px;
  margin: 10px;
  font-size: 0.9em;    
}

.thumbnailImage {
    border-width: 2px;
    border-style:  solid;
    border-color: red;
    width: 90%;
    height: auto;
    margin: 8px;
    background-image: repeating-linear-gradient(-45deg, #94939411, #94939411 3%, #2a1938 4%); 

  }
  
  /* Buttons on thumbnail invisible and visible */
.thumbnailImageClickPvw {
  position: absolute;
  height: 150px; 
  top: 10px;
  z-index: 2;
  background-color: transparent;
  left: 5%;
  width: 55%;
  border-radius: 0px;
  border-width: 0;
  outline: 0;
}

.thumbnailImageClickPgm {
  position: absolute;
  height: 150px; 
  top: 10px;
  z-index: 2;
  background-color: transparent;
  right: 5%;
  width: 35%;
  border-style: dotted;
  border-width: 0px;
  border-left-width: 1px;
  border-color: rgba(133, 133, 133, 0.371);
  outline: 0;
}

.loopButton {
  margin: 8px;
  font-size: 1.2em;
  width: 40%;
  line-height: 150%;
  background: rgb(110, 2, 2);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 16px;
  border-width: 0;
  outline: 0;
}

.playButton {
  margin: 8px;
  font-size: 1.2em;
  width: 40%;
  line-height: 150%;
  background: green;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 16px;
  border-width: 0;
  outline: 0;
}

/* thumbname text */
.text {
    margin-top: 8px;
    font-size: 0.7em;
}

/* on-screen timecode */
.playing {
  position: absolute;
  width: 250px;
  left: 25px;
  top: 50px;
  font-size: 3em;
  color: red;
  background: #ffffff8c;
  border-radius: 16px;
}