.c-image-media-card {
  margin: 8px;

  &.hidden {
    scale: 0.8;
  }
}

.text {
  margin-top: 8px;
  font-size: 0.7em;
}

.c-image-media-card__image {
  width: 100%;
  height: auto;
  margin: 8px 0px;
  background-image: repeating-linear-gradient(-45deg, #94939411, #94939411 3%, #2a1938 4%);

  &.grayscale {
    filter: grayscale(1);
  }
}