.c-timer-timer {
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
  padding: 6px;
  background-color: #aa0101;
  width: 240px;
  height: 60px;
  border-width: 0px;
  border-radius: 8px;
  color: white;
  font-size: 2.5em;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.c-timer-thumbnail {
  border-width: 2px;
  border-style: solid;
  border-color:  #aa0101;
  width: 170px;
  height: 96px;
  margin-top: 6px;
  margin-bottom: 4px;
  background-image: repeating-linear-gradient(-45deg, #2f2c43, #2e2b41 3%, #2a1938 4%);
}