.c-checkbox__input {
  text-align: right;
  width: 25px;
  height: 25px;
}

.c-checkbox {
  white-space: nowrap;
  margin: 5px;
  min-width: 60px;
  color: white;
  background-color: rgb(49, 49, 49);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(34, 34, 34);
}

