.settings-channel-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 1.1em;
  text-align: left;
  background-color: rgb(56, 56, 56);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(230, 230, 230, 0.63);
}

.settings-input-field {
  white-space: nowrap;
  margin: 5px;
  min-width: 120px;
  color: rgb(255, 255, 255);
  background-color: rgb(49, 49, 49);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(34, 34, 34);
}

input {
  &[type='text'] {
    text-align: left;
    margin: 5px;
    font-size: 1.1em;
    border: 1px solid rgb(104, 104, 104);
    background-color: rgb(87, 86, 86);
    color: white;
    border-radius: 0;
    -webkit-appearance: none;
  }

  &[type='number'] {
    text-align: right;
    width: 120px;
    margin: 5px;
    font-size: 1.1em;
    border: 1px solid rgb(104, 104, 104);
    background-color: rgb(87, 86, 86);
    color: white;
    border-radius: 0;
    -webkit-appearance: none;
  }

  &[type='checkbox'] {
    text-align: right;
    width: 25px;
    height: 25px;
    margin: 5px;
  }
}