.c-text-media-card {
  height: 130px;
  border-width: 2px;
  border-style: solid;
  border-color: #2e2b41;
  margin: 8px;
  display: flex;
  position: relative;

  &__wrapper {
    width: 100%;
  }

  &__button {
    position: relative;
    justify-content: center;
    height: 100%;
  }

  &__text {
    top: 10%;
    height: fit-content;
    position: relative;
    word-wrap: break-word;
    margin: 0;
    font-size: 1.4em;
    color: white;
  }
}