.c-main-page {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__tab {        
        overflow: hidden;
        height: 100%;
        flex: 1;          
    }
}