.App-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    z-index: 10;
    top: 0px;
    width: 100%;
    background-color: rgb(53, 53, 53);
    height: 130px;
    color: rgb(28, 115, 165);
    box-shadow: 2px 2px 2px #555;
}

.App-timer-background {
    margin-left: 20px;
    height: 115px;
    background-color: rgb(22, 22, 22);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.App-header-pgm-counter {
    vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: #aa0101;
    width: 235px;
    height: 60px;
    border-width: 0px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
}

.App-header-pgm-thumbnail-image {
    border-width: 2px;
    border-style: solid;
    border-color: #aa0101;
    width: 170px;
    height: 96px;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-right: 20px;
    background-image: repeating-linear-gradient(
        -45deg,
        #2f2c43,
        #2e2b41 3%,
        #2a1938 4%
    );
}

.App-reload-setup-background {
    top: 5px;
    left: 5px;
    width: 170px;
    height: 115px;
    background-color: rgb(22, 22, 22);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.App-settings-button {
    font-size: 1.1em;
    width: 120px;
    height: 60px;
    line-height: 25px;
    margin-top: 20px;
    background: rgb(11, 12, 11);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(170, 170, 170, 0.315);
    outline: 0;
}

.App-reload-button {
    font-size: 0.9em;
    width: 120px;
    line-height: 25px;
    margin-top: 2px;
    background: rgb(46, 19, 19);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(170, 170, 170, 0.315);
    outline: 0;
}

/* Switch buttons: */
.App-button-background {
    margin-left: 20px;
    height: 115px;
    background-color: rgb(22, 22, 22);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(63, 63, 63);
    box-shadow: 6px 6px 6px rgb(34, 34, 34);
}

.App-switch-button {
    font-size: 0.9em;
    width: 108px;
    line-height: 60px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    border-width: 0;
    outline: 0;
}

.App-start-button {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
    font-size: 1.2em;
    width: 108px;
    line-height: 60px;
    background: rgb(122, 0, 0);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 16px;
    border-width: 1px;
    border-color: rgba(85, 85, 85, 0.507);
    outline: 1px;
}
