// Elements
@use './elements/input.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;

    --thumbnail-background-color: #2e2b41;
    --hidden-thumbnail-background-color: #3d1904;

    --cued-color: green;
    --selected-color: red;
}

#root {
    height: 100%;
    min-height: 100%;
}

