// Elements
@use './elements/input.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;

    --cued-color: green;
    --selected-color: red;
    --active-color: rgb(28, 115, 165);
}

#root {
    height: 100%;
    min-height: 100%;
}

