.tabs {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.tabs-bar {
    position: relative;
    height: 50px;
    touch-action: pan-y;
}

.tabs-bar__tabs {
    display: flex;
    flex-direction: row;
}

.tab {
    width: 100%;
    background: #444;
    color: white;
    font-size: 1.75em;
    padding: 8px 0;
}

.tab.active {
    color: #4175e6;
}

.tab-content-wrapper {
    touch-action: pan-x pan-y;
    display: flex;
}

.tab-content {
    height: auto;
    width: 100%;
    flex-shrink: 0;
    overflow-y: auto;
}

.tab-content.hidden {
    height: 0;
    overflow: visible;
}
