.control-button {
  font-size: 0.9em;
  width: 108px;
  line-height: 60px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 10px;
  border-width: 0;
  outline: 0;
  background-color: grey;

  &.on {
    background-color: var(--active-color);
  }
}

.control-start-button {
  margin-left: 12px;
  margin-top: 5px;
  font-size: 1.2em;
  width: 108px;
  line-height: 60px;
  background: rgb(122, 0, 0);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 16px;
  border-width: 1px;
  border-color: rgba(85, 85, 85, 0.507);
  outline: 1px;
}
