.c-switch {
  outline: 0;
  background-color: grey;
  line-height: 60px;
  color: white;
  width: 108px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9em;
  border-radius: 10px;
  border-width: 0;
}

.on {
  background-color: rgb(28, 115, 165);
}