.control-background {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 115px;
  background-color: rgb(22, 22, 22);
  box-shadow: 6px 6px 6px rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}