.settings-tick-field {
  white-space: nowrap;
  margin: 5px;
  min-width: 60px;
  color: rgb(255, 255, 255);
  background-color: rgb(49, 49, 49);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(34, 34, 34);
}

.settings-channel-header {
  font-size: 1.3em;
  white-space: nowrap;
  margin: 5px;
  width: 160px;
  color: rgb(255, 255, 255);
  background-color: rgb(49, 49, 49);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(34, 34, 34);
}

.settings-select {
  text-align: left;
  width: 320px;
  margin: 5px;
  font-size: 1.1em;
  background-color: rgb(87, 86, 86);
  color: white;
}