.save-button {
  margin: 20px;
  font-size: 1.1em;
  line-height: 300%;
  background: rgb(41, 41, 41);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 8px;
  border-width: 2px;
  outline: 0;

  &.on {
    background-color: rgb(28, 115, 165);
  }
}