.settings-action {
  margin: 20px;
  font-size: 1.1em;
  line-height: 300%;
  background: rgb(41, 41, 41);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 8px;
  border-width: 2px;
  outline: 0;
  padding: 5px;

  &.on {
    background-color: var(--active-color);
  }
}